{% extends 'AdminBundle::layout.html.twig' %}

{% block title %}Authors list{% endblock %}

{% block section %}
    <h1>Authors list</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td>{{ author.name }}</td>
                <td>{% if author.createdAt %}{{ author.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if author.updatedAt %}{{ author.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('blog_core_author_show', { 'id': author.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('blog_admin_author_edit', { 'id': author.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('blog_admin_author_new') }}">Create a new author</a>
        </li>
    </ul>
{% endblock %}
