{% extends 'AdminBundle::layout.html.twig' %}

{% block title %}{{ entity.name }}{% endblock %}

{% block section %}
    <h1>{{ entity.name }}</h1>

    <table>
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ author.name }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if author.createdAt %}{{ author.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if author.updatedAt %}{{ author.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('blog_admin_author_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('blog_admin_author_edit', { 'id': author.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
